<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ejs</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h2><%= title %></h2>
	<img src="./avatar.png" alt="">
	<p>I LIKE <%= name %></p>
	<h3><%= session.data %></h3>


	<!-- <script type="text/javascript" src=" https://m.lcfarm.com/mapi/user/ssoJsonpInfo.htm?method_callback=getResult"></script> -->
	<script type="text/javascript">
		function getResult(data) {
			console.log("jsonp>>>>", data)
			alert(data)
		}
	</script>
	<script src="http://127.0.0.1:3000/jsonp?callback=getResult" type="text/javascript"></script>

</body>
</html>